











.tagcloud {
	.tag-cloud-link {
		display: inline-block;
		margin: .1em .2em .1em 0;
		box-shadow: 0 0 0.5em rgba( 0, 0, 0, 0.1 ) inset;
		padding: 0 .5em;
		background-color: transparent;
		border-radius: .1em;
		transition: color 200ms, background-color 200ms, box-shadow 200ms;
		&:hover {
			text-decoration: none;
			box-shadow: none;
			background-color: $brand-info;
			color: #fff;
		}
	}
}