


@import "helpers/variables";
@import "helpers/functions";
@import "helpers/flex";
@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/extends.icons";
@import "helpers/extends";



.add-image-button {
	@extend %icon-add-image;
	width: 3em;
	height: 3em;
	padding: 0;
	margin: .5em auto;
	box-shadow: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}







@import "gutenberg/clearfix";
@import "blocks/socials";
@import "gutenberg/person";
@import "gutenberg/program";
@import "gutenberg/widget";