













.fotos {




	.gallery {
		position: relative;
	}





	.item {
		display: block;
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		text-decoration: none;
	}


	&__item {
		.overlay {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
		}
		.thumbnail {
			display: block;
			width: 100%;
		}
		.title {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			padding: .2em .5em;
			background-color: rgba( 0, 0, 0, .5 );
			font-size: 85%;
		}
	}



}