//
//
//	Главная страница
//  первый экран
//
//




.jumbotron {

	@extend %xy-center;
	background-color: $brand-primary;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	box-sizing: border-box;
	padding: 10em 0;

	.title-container {
		text-align: center;
		@include min-width( $screen-md ) {
			text-align: left;
		}
	}

	h1 {
		@extend %section-title;
		box-shadow: $box-shadow;
	}

	.date {
		display: inline-block;
		box-shadow: $box-shadow;
		background-color: $brand-warning;
		margin: 1em;
		padding: 1em 2em;
		color: #fff;
		font-weight: bold;
		text-align: center;
		line-height: 1em;
		.day {
			font-size: 10em;
			line-height: 1em;
			display: block;
		}
		.month {
			display: inline-block;
			font-size: 5em;
			text-transform: lowercase;
		}
		.year {
			display: inline-block;
			font-size: 2em;
		}
	}


	.counter {
		margin: 1em auto;
		display: block;
		.param {
			display: inline-block;
			box-shadow: $box-shadow;
			// background-color: lighten( $brand-primary, 10% );
			background-color: #fff;
			// color: #fff;
			padding: .5em 1em;
			min-width: 3em;
			text-align: center;
		}
		.param + .param {
			margin-left: .5em;
		}
		.value {
			color: $brand-primary;
			font-size: 1.5em;
			line-height: 1em;
			font-weight: bold;
			// text-shadow: .1em .1em 1em #000;
		}
		.label {
			// color: $brand-success;
		}
	}

	.excerpt {
		@extend .lead;
		background-color: #fff;
		padding: 1em;
		display: inline-block;
		text-align: center;
		@include min-width( $screen-md ) {
			text-align: left;
		}
	}

	.permalink-container {
		margin-top: 1em;
		text-align: center;
		@include min-width( $screen-md ) {
			text-align: left;
		}
	}
	
}