












nav.nav#nav
	.bg
	.overlay
		button.btn.btn-close.close.btn-lg.pull-right #[span.sr-only Закрыть меню]
		ul.languages
			li.current ru
			li: a( href="#" ) en
		h2 Меню
		ul.nav__list.list
			li: a( href="#" ) Главная
			li.has-sub-menu
				a( href="#" ) О нас
				ul.sub-menu
					li: a( href="#" ) Галерея
					li: a( href="#" ) Прогулка по университету
					li: a( href="#" ) История университета
					li: a( href="#" ) Отзывы
			li.has-sub-menu
				a( href="#" ) Обучение
				ul.sub-menu
					li: a( href="#" ) Информация
					li: a( href="#" ) Образцы документов
					li: a( href="#" ) Порядок подачи документов
					li: a( href="#" ) Условия проживания
					li: a( href="#" ) Подготовительные курсы
					li: a( href="#" ) Ситажировка и практика
					li: a( href="#" ) Направления подготовки
			li: a( href="#" ) Контакты