//-
	Список контактов в социальных сетях




ul.socials
	li: a.facebook( href="#" ) #[span.sr-only facebook]
	li: a.twitter( href="#" ) #[span.sr-only twitter]
	li: a.instagram( href="#" ) #[span.sr-only instagram]
	li: a.linkedin( href="#" ) #[span.sr-only linkedin]