











.openday-person {

	margin: 1em auto;
	padding: 1em;
	text-align: center;


	.foto {
		box-shadow: none;
		display: block;
		width: 10em;
		height: 10em;
		padding: 0;
		margin: 0.5em auto;
	}

	.title {
		font-size: 13px;
		margin: 0.5em auto;
	}


	.excerpt {
		font-size: 13px;
		margin: 0.5em auto;
	}


	.socials {
		font-size: 75%;
	}


}