//-
	Главная страница
	Секция "О нас" / "Замануха"







section.section.aboutus#aboutus
	.container: .row.center-xs.middle-xs
		.col-xs-12.col-sm-6.col-md-6.col-lg-6: img.thumbnail.lazy( src="#", data-src=src.img+'aboutus.jpg', alt="About Us" )
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			h2 О ПГТУ
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate suscipit animi ea perferendis, sint repellendus officia. Atque quis, eos voluptas labore, dolores placeat accusantium officia pariatur fugiat asperiores, temporibus. Aliquam.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, repellendus natus ratione, earum aliquam, error distinctio iure ullam temporibus eligendi consectetur dignissimos aspernatur quas nam nesciunt iste non recusandae! Non?
			a.btn.btn-default( href="#" ) Подробней