//-
	Главная страница
	Первый экра






.jumbotron#jumbotron.lazy( data-src=src.img+'jumbotron.svg' )
	.container: .row.center-xs.middle-xs
		.col-xs-12.col-sm-6.col-md-6.col-lg-8
			.title-container: h1 #{blog.name}
			p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut doloribus amet neque ratione veniam praesentium consequatur culpa qui. Cum explicabo necessitatibus laboriosam quos harum ut? Ipsum beatae eligendi suscipit.
			.permalink-container: a.btn.btn-info.btn-lg( href="#" ) Прийду!
		.col-xs-12.col-sm-6.col-md-6.col-lg-4.first-xs.text-center
			time.date #[span.day 20] #[span.month окт] #[span.year 2019]
			.counter#counter( data-timing-of='1579492800000' )
				.param.days#days
					.value 20
					.label Days
				.param.hours#hours
					.value 5
					.label Hours
				.param.mins#mins
					.value 41
					.label Mins
				.param.secs#secs
					.value 25
					.label Secs